@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/font-awesome.min.css");

.red {
  color: red;
}

.orangered {
  color: orangered;
}

.orange {
  color: orange;
}

.yellow {
  color: yellow;
}

.lime {
  color: lime;
}